body{display: flex;
flex-direction: column;
font-family: sans-serif;
align-items: center;
}

div.wrapper{display: flex;
justify-content: space-evenly;
width: 70%;
}

/* tables styles */

table{display: none;
}

table.active {
    display: table;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    width: 30%;;
    background-color: #EEE;
}

thead {
    text-align: center;
    background-color: #000 ;
    color: white;
    text-transform: uppercase;
    height: 3rem;
}
td, tr{text-align: center;
border: 1px solid black;
}

tr:nth-child(even){
    background-color: white;
}


/* button styles */
#btn {
    color:black;
    border: 2px solid rgb(88, 24, 160);
    margin: 5% auto 3%;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-transition: linear 0.4s;
    -moz-transition: linear 0.4s;
    transition: linear 0.3s;
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    padding:4% 2%;
    width: 30%;
    text-align:center;
  }
 #btn:hover {
    background-color: #D80286;
    color: white;
  }

/* BG*/
.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
/* KEYFRAMES */

.bouncy{
    animation: bouncy 5s infinite linear;
    position: relative;
}
    @keyframes bouncy {
        0%{top:0em}
        40%{top:0em}
        43%{top:-0.9em}
        46%{top:0em}
        48%{top: -0.4em}
        50%{top: 0em}
        100%{top: 0em}
    }
      @keyframes slide {
        0% {
          transform:translateX(-25%);
        }
        100% {
          transform:translateX(25%);
        }
      }
